@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.navbar-text {
  color: #f7f2f2;
}

body {
  background-color: #262525;
}

.image-container {
  max-width: 90%;
  height: auto;
}

img {
  display: flex;
  width: 100%;
  height: auto;
}

h1 {
  color: #f7f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3em;
}

h2,
h3 {
  color: #f7f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  color: #f7f2f2;
  font-family: 700;
  font-weight: 100;
  font-size: 0.8em;
}

div ul li a {
  color: #f7f2f2;
}

p {
  color: #f7f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  line-height: 2em;
  margin-left: 10px;
  margin-top: 5px;
  padding: 10px;
}

label {
  color: #B3B3B3;
}

.button img {
  width: 70px;
}

.bg-button {
  border-color: #f7f2f2;
}

.bg-transparent-30 {
  background-color: #B3B3B3;
}

.card-text {
  color: #f7f2f2;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin: 0 10px;
  padding: 20px;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
}

.margen-h2 {
  margin: 5%;
}

.cards-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: calc(33.33% - 10px);
  background-color: transparent;
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  flex-basis: 100%;
}

.card-border {
  flex-basis: calc(33.33% - 10px);
  background-color: transparent;
  border: solid 1px white;
}

.card-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.bg-footer {
  background-color: black;
}

.footer {
  height: 40%;
}

.footer-text {
  color: #f7f2f2;
}

.footer-text-decoration {
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #f7f2f2;
  padding: 20px;
}
nav .navbar-brand img {
  width: 60%;
}
nav ul.navbar-nav li a {
  color: #f7f2f2;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}
nav ul.navbar-nav li a:hover {
  text-decoration: underline;
  color: #B3B3B3;
}
nav .logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 20px;
}
nav .nav-links {
  display: flex;
  align-items: center;
  color: #f7f2f2;
  list-style: none;
}
nav .nav-links li {
  margin: 0 10px;
}
nav .nav-links li:last-child {
  margin-right: 0;
}

.carousel-caption h3 {
  color: black;
}

.carousel-margin {
  margin-bottom: 5%;
  padding-bottom: 10%;
}

.gallery-margin {
  padding-bottom: 15%;
}

/* Grid */
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.row::after {
  clear: both;
  content: "";
  display: table;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form input[type=text],
.form input[type=email],
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px 1px #B3B3B3;
  border-radius: 5px;
  font-size: 16px;
}

.form input[type=submit] {
  background-color: #262525;
  color: #B3B3B3;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form input[type=submit]:hover {
  background-color: #8d8d8e;
}