
$main-color: #0a0a0b;
@use "sass:color";

 
 /* Grid */
  .container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }
  
  .row::after {
    clear: both;
    content: "";
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }

// Form styles
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px $borderColor;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form input[type="submit"] {
    background-color: $backgroundColor;
    color: $secondaryColor;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  .form input[type="submit"]:hover {
    background-color: color.adjust(#737375, $lightness: 10%);
  }

  .form-size {
    width: 50%;
    margin: 0 auto;
  }
  
  
  
  


  